.portfolio-details {
  padding-top: 30px;
  margin-top: 50px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
  text-align: left;
  font-weight: 400;
}
.portfolio-details .portfolio-description p span {
  font-size: 18px;
  color: #555555;
  font-weight: 600;
}

.portfolio-details .about-slider {
  margin-top: 25px;
  width: 70%;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }

  .portfolio-details .about-slider {
    width: 100%;
  }
}
