.carousel-caption {
  text-align: center;
}
.carousel-item {
  height: 70vh;
}

.carousel-wrapper {
  width: 100vw;
}

.carousel-caption h5 {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
}

.carousel-caption p {
  width: 75%;
  margin: auto;
  font-size: 1rem;
  line-height: 1.9;
}

@media (max-width: 500px) {
  .carousel-caption h5 {
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
    font-size: 1rem;
  }

  .carousel-item {
    height: 50vh;
  }
}
